<div class="main-content">
    <div class="page-content">
          <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0 font-size-18">Liste des contacts</h4>
              <a routerLink="/ajouterUtilisateur"><button class="btn btn-success"><i class="fa fa-plus"></i> | Ajouter</button></a>
            </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-9">
                  <div class="card">
                <div class="card-body">
                  
  
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th>Nom</th>
                          <th>Email</th>
                          <th>Téléphone</th>
                          <th>Sujet</th>
                          <th>Message</th>
                          <th>Opérations</th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr>
                          <td>seif</td>
                          <td>Seifeddine@gmail.com</td>
                          <td>24226861</td>
                          <td>probleme</td>
                          <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore impedit beatae numquam doloremque. Molestias iure aut omnis doloribus ea animi! Architecto tempore quas neque libero maxime minus harum itaque molestiae.</td>
                          <td>
                          <button  style="margin-left: 30%;" class="btn btn-outline-secondary btn-sm" >
                              <i class="fas fa-duotone fa-trash"></i>
                          </button>
                          </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  </div>
  