<div class="main-content">
  <div class="page-content">
        <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Liste des administrateurs</h4>
            <a routerLink="/ajouter-admin"><button class="btn btn-success"><i class="fa fa-plus"></i> | Ajouter</button></a>
          </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-9">
                <div class="card">
              <div class="card-body">
                

                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Mot de passe</th>
                        <th>Opérations</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let ad of admins">
                      <tr>
                        <td>{{ad.nom}}</td>
                        <td>{{ad.prenom}}</td>
                        <td>{{ad.email}}</td>
                        <td>{{ad.mdp}}</td>
                        <td class="d-flex flex-wrap gap-2"><button (click)="open(content,ad)" class="btn btn-outline-secondary btn-sm" >
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button (click)="supprimerAdmin(ad)" class="btn btn-outline-secondary btn-sm" >
                            <i class="fas fa-duotone fa-trash"></i>
                        </button>
                        </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #content let-c="close" let-d="dismiss" id="modal">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Modifier administrateur</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
          </div>
          <div class="modal-body">
            <form class="custom-validation" action="#">
              <div class="mb-3">
                <label class="form-label">Nom</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="Taper votre nom"
                  [(ngModel)]="admin.nom"
                  name="nom"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">prenom</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="Taper votre prenom"
                  [(ngModel)]="admin.prenom"
                  name="prenom"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">E-Mail</label>
                <div>
                  <input
                    type="email"
                    class="form-control"
                    required
                    parsley-type="email"
                    [(ngModel)]="admin.email"
                    name="email"
                    placeholder="Taper votre email"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Mot de passe</label>
                <div>
                  <input
                    type="password"
                    id="pass2"
                    class="form-control"
                    required
                    placeholder="Taper votre mot de passe"
                  />
                </div>
                <div class="mt-2">
                  <input
                    type="password"
                    class="form-control"
                    required
                    data-parsley-equalto="#pass2"
                    [(ngModel)]="admin.mdp"
                    name="mdp"
                    placeholder="Retaper votre mot de passe"
                  />
                </div>
              </div>
              
            </form>
          </div>
          <div class="modal-footer">
            <div class="d-flex flex-wrap gap-2">
              <button
                (click)="modifierAdmin()"
                type="button"
                class="btn btn-primary waves-effect waves-light"
                data-dismiss="content"
                #my_button>
                Sauvegardez
              </button>
            </div>
          </div>
        </ng-template>
    </div>
  </div>
</div>
