<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a routerLink="#" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Dashboards</span>
                    </a>
                    <a routerLink="/listeAdmin" class="waves-effect">
                        <i class="bx bx-user"></i>
                        <span key="t-user">Admin</span>
                    </a>
                    <a routerLink="modal" class="waves-effect">
                        <i class="bx bx-group"></i>
                        <span key="t-group">Utilisateur</span>
                    </a>
                    <a href="#" class="waves-effect">
                        <i class="bx bx-detail"></i>
                        <span key="t-detail">Annonce</span>
                    </a>
                    <a href="#" class="waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-user-detail">Contact</span>
                    </a>
                    <a routerLink="/listeCategorie" class="waves-effect">
                        <i class="bx bx-list-ul"></i>
                        <span key="t-list-ul">Categorie</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>