<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Ajouter un administrateur</h4>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title text-center">
                  Formulaire administrateur
                </h4>
                <form class="custom-validation" action="#">
                  <div class="mb-3">
                    <label class="form-label">Nom</label>
                    <input
                      type="text"
                      class="form-control"
                      required
                      placeholder="Taper votre nom"
                      [(ngModel)]="newAdmin.nom"
                      name="nom"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">prenom</label>
                    <input
                      type="text"
                      class="form-control"
                      required
                      placeholder="Taper votre prenom"
                      [(ngModel)]="newAdmin.prenom"
                      name="prenom"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">E-Mail</label>
                    <div>
                      <input
                        type="email"
                        class="form-control"
                        required
                        parsley-type="email"
                        [(ngModel)]="newAdmin.email"
                        name="email"
                        placeholder="Taper votre email"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Mot de passe</label>
                    <div>
                      <input
                        type="password"
                        id="pass2"
                        class="form-control"
                        required
                        placeholder="Taper votre mot de passe"
                      />
                    </div>
                    <div class="mt-2">
                      <input
                        type="password"
                        class="form-control"
                        required
                        data-parsley-equalto="#pass2"
                        [(ngModel)]="newAdmin.mdp"
                        name="mdp"
                        placeholder="Retaper votre mot de passe"
                      />
                    </div>
                  </div>
                  <div class="d-flex flex-wrap gap-2">
                    <button
                      (click)="ajouterAdmin()"
                      type="button"
                      class="btn btn-primary waves-effect waves-light"
                    >
                      Ajouter
                    </button>
                    <button type="reset" class="btn btn-secondary waves-effect">
                      Annuler
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- end col -->

          <!-- end col -->
        </div>
      </div>
    </div>
  </div>
</div>
